body{
    max-width: 1280px;
    margin: auto;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
    
    


ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 50px;
}
li a{
    text-decoration: none;
    color: #8987A1;
    
}
.color{
    color: brown;
}